.slider1 {
    /* background-image: url('../assets/images/banner/video2.mp4'); */
    background: url('../assets/images/banner/slide-bg.jpg');
    background-position: center;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    visibility: inherit;
    opacity: 1;
}

.videoContainer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1;
}

.videoBackground {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.slider2 {
    background-image: url('../assets/images/banner/slider1.jpg');
    background-position: center;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    visibility: inherit;
    opacity: 1;
}

.slider3 {
    background-image: url('../assets/images/banner/slider13.jpg');
    background-position: center;
    height: 500px;
    background-color: rgba(0, 0, 0, 0);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    visibility: inherit;
    opacity: 1;
}

.commonSlider p {
    line-height: 55px;
    border-width: 0px;
    padding: 1px 40px 0px;
    letter-spacing: 0px;
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: end;
    margin-top: 40px;
    font-weight: bold;
}

.commonSlider h6 {
    font-size: 30px;
    color: white;
    display: flex;
    justify-content: end;
    padding: 1px 170px 0px;
    font-weight: bold;
}

.see_roombtn {
    display: flex;
    justify-content: end;
    padding: 20px 320px 0px;
}

.see_roombtn button {
    background-color: #e331bf;
    border-color: #b90a96;
    text-shadow: 0 -1px 0 #c026a1;
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
}

/* .slider1:before {
   content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(26, 25, 25, 0.6);
    top: 0px;
    left: 0px;
    z-index: 1;
    pointer-events: none;
} */

.check_availability {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.85;
    width: 100%;
    z-index: 1000;
    height: 130px;
}


.row {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.row h2{
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-weight: normal;
    font-family: 'Montserrat';
    position: relative;
    padding-left: 70px;
    line-height: 30px;
    margin-top: 30px;
    font-weight: bold;
}
.row span{
    color: #fd7e14;
}

.availability_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}

.awe_calendar_wrapper label {
    color: #fd7e14;
    font-weight: bold;
}

.awe_calendar_wrapper .awe_calendar {
    padding: 0 10px 0 5px;
    background-color: transparent;
    width: 150px;
    border: 2px solid #fff;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.awe_member {
    padding: 0 10px 0 5px;
    background-color: transparent;
    width: 73px;
    border: 2px solid #fff;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.awe_calendar option {
    color: black;
}

.awe_calendar:focus {
    outline: none;
}
.awe_member:focus {
    outline: none;
}

.book_btn {
    color: #fff;
    background: #fd7e14;
    text-shadow: 0 -1px 0 #50878e;
    padding: 4px 15px;
    margin-top: 25px;
    border-radius: 5px;
}

.video_container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

/* Video styles */
.auto_video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 85%;
    object-fit: cover;
}

/* Text overlay styles */
.overlay {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
}

.overlay h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
}

.overlay p {
    font-size: 1.5rem;
}


@media (max-width: 768px) {
    .commonSlider p {
        font-size: 12px;
        display: flex;
        justify-content: center;
    }

    .commonSlider h6 {
        font-size: 12px;
        display: flex;
        justify-content: center;
        padding: 1px 4px 0px;
    }

    .see_roombtn {
        display: flex;
        justify-content: center;
        padding: 20px 10px 0px;
    }
    .check_availability {
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .availability_form {
        display: flex;
        flex-direction: column;    
    }
    .awe_member {
        width: 200px;
    }
    .book_btn {
      margin-bottom: 20px;
    }
    .awe_calendar_wrapper .awe_calendar {
        width: 200px;
    }

}