.check_availability {
    background: rgba(0, 0, 0, 0.7);
    opacity: 0.85;
    width: 100%;
    z-index: 1000;
    height: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    

}

.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.row h2{
    color: #fff;
    font-size: 25px;
    margin: 0;
    font-weight: normal;
    font-family: 'Montserrat';
    position: relative;
    padding-left: 70px;
    line-height: 30px;
    margin-top: 30px;
    font-weight: bold;
    margin-right: 100px;
}
.row span{
    color: #fd7e14;
}

.availability_form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 25px;

}

.awe_calendar_wrapper label {
    color: #fd7e14;
    font-weight: bold;
}

.awe_calendar_wrapper .awe_calendar {
    padding: 0 10px 0 5px;
    background-color: transparent;
    width: 165px;
    border: 2px solid #fff;
    height: 53px;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.awe_member {
    padding: 0 10px 0 5px;
    background-color: transparent;
    width: 84px;
    border: 2px solid #fff;
    height: 53px;
    color: #fff;
    border-radius: 5px;
    margin-top: 3px;
}

.awe_calendar option {
    color: black;
}

.awe_calendar:focus {
    outline: none;
}
.awe_member:focus {
    outline: none;
}



.banner_form{
    margin-top: -15px;
}

.Testimonial_container{
    background-image: url(../assets/images/TS/testm.png);
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #fff;
    width: 100%;
  
}

/* .book_btn {
    color: #fff;
    background: #fd7e14;
    text-shadow: 0 -1px 0 #50878e;
    padding: 14px 20px;
    margin-top: 25px;
    border-radius: 5px;
} */

.book_btn{
    position: relative;
    font-weight: 700;
    font-size: 1.2rem;
    background: #fd7e14;
    color: white;
    text-transform: uppercase;
    border-radius: 5px;
    border: none;
    display: inline-block;
    padding: 12px 20px;
    margin: 13px 0 1px;
    cursor: pointer;
    z-index: 1;
    margin-top: 25px;
  }
  .book_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    background: rgba(36, 36, 36, 0.3);
    transition: clip-path 0.4s ease-out;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 5px;
  }
  
  .book_btn:hover:before {
    clip-path: circle(100% at 50% 50%);
    border-radius: 5px;
  }


@media (max-width: 768px) {
    .check_availability {
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .availability_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 10px;
    }
    .awe_member {
        width: 200px;
    }
    .book_btn {
      margin-bottom: 20px;
    }
    .awe_calendar_wrapper .awe_calendar {
        width: 200px;
    }
    .row h2{
        margin-right: 5px;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .check_availability {
        height: 100%;
    }
    .row {
        display: flex;
        flex-direction: column;
    }
    .availability_form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center; 
        gap: 10px;
    }
    .awe_member {
        width: 400px;
    }
    .book_btn {
      margin-bottom: 20px;
      width: 400px;
    }
    .awe_calendar_wrapper .awe_calendar {
        width: 400px;
    }
    .row h2{
        margin-right: 5px;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1365px) {
    
}