.contact_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.contact_contain_text p {
    font-size: 26px;
    line-height: 32px;
}

.contact_contain_text strong {
    font-weight: 700;
}

.contact_contain_text h1 {
    font-size: 48px;
    line-height: 60px;
    font-weight: 800;
    text-transform: uppercase;
    margin-top: 20px;
    color: #2a2a2a;
}

.gphoto {
    width: 90%;
}


.reservation_vertical {
    border-radius: 5px 5px 5px 5px;
    border: 1px solid #ebebeb;
    box-shadow: 0 3px 0 0 rgba(0, 0, 0, 0.12);
    padding: 45px 30px;
    z-index: 9999;
    background-color: #fff;
}

.form_group label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
    color: #5e5e5e;
}

.form_control {
    display: block;
    width: 100%;
    height: 54px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);

}

.form_control_textarea {
    display: block;
    width: 100%;
    height: 104px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

.form_control_btn {
    position: relative;
    font-weight: 700;
    font-size: 18px;
    color: #fff;
    text-transform: uppercase;
    background: #0072DD;
    border-radius: 30px;
    border: none;
    display: inline-block;
    width: 100%;
    padding: 17px 0;
    margin: 13px 0 1px;
    cursor: pointer;
    z-index: 1;
}

.form_control_btn:before {
    content: "";
    position: absolute;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    background: rgba(36, 36, 36, 0.3);
    transition: clip-path 0.4s ease-out;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 30px;
}

.form_control_btn:hover:before {
    clip-path: circle(100% at 50% 50%);
    border: 1px solid #0072dd;
    border-radius: 30px;
}

.form_control_2 {
    width: 300px !important;
}

.form_control:focus {
    outline: none;
}

.form_control_textarea:focus {
    outline: none;
}

.quick_communication{
    border-radius: 20px 20px 20px 20px;
    background-color: white;
    box-shadow: 1px 5px 26px 7px rgba(138, 138, 138, .08);
    margin-top: 45px;
    padding: 30px 10px;

}

.quick_communication_content{
    margin: 0px 158px;
    display: flex;
    align-items: center;
    padding: 30px 0;
}
.quick_communication_content h3{
    color: #333;
    line-height: 2em;
    font-weight: 800;
    font-size: 21px;
}
.quick_communication_content h4{
    color: #333;
    line-height: 1em;
    font-weight: 500;
    font-size: 18px;
}
.communication_way{
    padding: 20px 80px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.blurb_texts h5{
    color: #333;
    line-height: 2em;
    font-weight: 700;
    font-size: 18px;
    margin-top: 5px;
}
.blurb_texts p{
    color: #333;
    line-height: 1em;
    font-weight: 500;
    font-size: 17px;
    margin-top: 5px;
}

@media (max-width: 768px) {
    .contact_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;
    }

    .gphoto {
        margin-top: 50px;
    }
    .quick_communication_content{
        margin: 0px 18px;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        padding: 30px 0;
    }
    .communication_way{
        padding: 20px 30px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .call{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}