.froom_title{
    font-weight: 600;
    line-height: 1.1;
    color: #5e5e5e;
    font-size: 35px;
    text-align: center;
    display: flex;
    justify-content: center;
}
.froom_title h2{

    padding: 10px 20px;
    border-bottom: 4px solid #fd7e14;
    border-radius: 15px;
}
.favorit_room_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.main{
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
}
.room_thumb .main {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    height: 55px;
}
.room_thumb .main h5 {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    padding: 10px 0 0 20px;
    color: #5e5e5e;
}

.room_thumb .main .price{
    background-color: rgba(90, 186, 198, 0.05);
    border-left: 1px solid rgba(12, 12, 12, 0.05);
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #75c5cf;

}
.room_thumb .main .price span{
    color: #494949;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.room_thumb {
    position: relative; 
    overflow: hidden; 
}

.hoverMask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px;
    box-sizing: border-box;
    transition: height 0.4s ease-in-out; 

}
.content p{
    padding: 20px;
}

.content span{
    color: #75c5cf !important
}


.room_thumb:hover .hoverMask {
    height: 100%;
}