.favorite_title{
    font-weight: 600;
    line-height: 1.1;
    color: #5e5e5e;
    font-size: 35px;
    margin-bottom: 50px;
    display: inline-block;
    background-image: url('../assets/images/Logo/title_bg.png');
    background-position: right  43px top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 470px;
}
.favorite_title h2 {
    padding: 10px 0px;
}
.favorit_room_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.main {
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
}

.room_thumb .main {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    height: 55px;
}

.room_thumb .main h5 {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    padding: 10px 0 0 20px;
    color: #5e5e5e;
}

.room_thumb .main .price {
    background-color: rgba(90, 186, 198, 0.05);
    border-left: 1px solid rgba(12, 12, 12, 0.05);
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #75c5cf;

}

.room_thumb .main .price span {
    color: #494949;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.room_thumb {
    position: relative;
    overflow: hidden;
}

.room_thumb .gphoto {
    width: 100%;
}

.hoverMask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px;
    box-sizing: border-box;
    transition: height 0.4s ease-in-out, opacity 0.5s ease-in-out, visibility 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;

}


.content p {
    padding: 20px;
    font-size: 14px;


}

.content span {
    color: #75c5cf !important;
    margin-right: 8px;
    font-size: 20px;
    font-weight: bold;
}


.room_thumb:hover .hoverMask {
    height: 100%;
    opacity: 1;
    visibility: visible;

}

.btn_block {
    color: #fff;
    background-color: #428bca;
    display: inline-block;
    margin-top: 10px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    padding: 6px 10px;

}

@media (max-width: 768px) {
    .favorit_room_container {
        display: grid;
        grid-template-columns: repeat(1, 1fr);

    }

    .room_thumb {
        position: static;

    }

    .hoverMask {
        position: static;
    }

    .room_thumb .hoverMask {
        height: auto;
        /* or any other value you want for small devices */
    }

    .btn_block {
        margin-bottom: 20px;
    }

}