
.footer_container{
    background-color: #232323;
    margin-top: 100px;
}

.footer_heeader{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 0;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    background-image: url('../assets/images/Footer/bg-footer-top.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.footer_logo{
    padding-left: 100px;
}

.social_content{
    padding-right: 50px;
}
.social_content .social_link {
    font-size: 14px;
    display: inline-block;
    color: #fff;
    border: 3px solid #fff;
    line-height: 32px;
    width: 40px;
    height: 40px;
    margin-top: 5px;
    text-align: center;
    margin-right: 20px;
    font-size: 16px;
    border-radius: 50%;
    transition: border 0.5s ease-in-out;
    
}
.footer_social_icon{
    font-size: 18px;
    position: relative;
    left: 9px;
    top: 8px;
}

.social_content .social_link:hover{
    border: 3px solid #e1bd85;
}

.footer_body_container{
    padding: 40px 100px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.copy_rigth_container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #101010;
    padding: 10px 0;
    text-align: center;
    color: #acacac;
    font-size: 12.22px;
}
.icon_container{
    font-size: 16px;
    color: #fff;
    line-height: 38px;
}
.footer_icon{
    font-size: 20px;
    margin-top: -3px;
}
.usefule_link_container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #fff;
}
.usefule_link_container h4{
    font-weight: bold;
    font-size: 18px;
}
.usefule_link_container ul li{
    line-height: 38px;
}

@media (max-width: 768px) {
    .image_container{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-bottom: 20px;
    }
  
    .image_container .gphoto{
        width: 300px;
    }
    .footer_logo{
        padding-left: 10px;
    }
    
    .social_content{
        padding-right: 20px;
    }
    .footer_body_container{
        padding: 20px 20px;
    }
    .footer_body_container{
        padding: 40px 10px;
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
    }
    .icon_container{
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (min-width: 769px) and (max-width: 1023px) {
    .footer_body_container{
        padding: 40px 20px;
        display: grid;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
    }
    .image_container{
        
    }
    
}