.login_container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    /* background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%); */
    background-image: linear-gradient(to right, #8360c3, #2ebf91);
}

.login_form{
    background-color: rgb(86, 84, 84);
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 20px 50px;
    border-radius: 20px;
    width: 500px;
}
.brand_title {
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 1.8rem;
    color: #1DA1F2;
    letter-spacing: 1px;
    text-align: center;
  }
.form_input_label{
    color: white;
}
.login_form_input {
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 50px;
    font-size: 14px;
    border-radius: 50px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .login_form_textarea{
    margin-top: 10px;
    margin-bottom: 10px;
    background: #ecf0f3;
    padding: 10px;
    padding-left: 20px;
    width: 100%;
    height: 100px;
    font-size: 14px;
    border-radius: 20px;
    box-shadow: inset 6px 6px 6px #cbced1, inset -6px -6px 6px white;
  }
  .login_form_textarea:focus{
    outline: none;
  }
  .login_form input:focus{
    outline: none;
  }
  .login_form button {
    color: white;
    margin-top: 20px;
    margin-bottom: 15px;
    background: #1DA1F2;
    padding: 15px 35px;
    width: 80%;
    cursor: pointer;
    font-weight: 900;
    transition: 0.5s;
    border-radius: 10px;
   
  }