/* Add styles for the sticky navbar */
.navbar.fixed {
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  transition: all 0.3s ease;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.7rem 3rem;
    background-color: #fff;
    color: #fd7e14;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
  .navbar.hidden {
    top: -100px;
  }
  .nav_book_btn{
    padding: 10px 20px;
    color: #fff;
    background: #fd7e14;
    border-radius: 5px;
  }
  .logo {
    color: #fd7e14;
    font-size: 1.5rem;
    text-decoration: none;
    
  }
  
  .nav-menu ul {
    list-style: none;
    display: flex;
    align-items: center;
    
  }
  
  .nav-menu li {
    margin: 0 1rem;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    
  }
  
  .dropdown {
    position: relative;
  }
  
  .dropdown .dropdown_toggle {
    cursor: pointer;
  }
  
  .dropdown_menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333;
    padding: 0.5rem;
  }
  
  .active .dropdown_menu {
    display: block;
  }
  .menuButton {
    display: none;
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
      transform: translateX(10px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 768px) {
 
    .nav-menu.active {
      display: flex;
    }
  
    .nav-menu ul {
        list-style: none;
        padding: 0;
        display: flex;
        flex-direction: column;
      }
    
      .nav-menu li {
        margin: 0;
        padding: 0.5rem 1rem;
       
      }
    .menuButton {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        background-color: #990808;
        color: #fff;
        border: none;
        padding: 0.5rem 1rem;
        cursor: pointer;
        z-index: 1000;
      }
    
      .nav-menu {
        display: none;
        position: absolute;
        top: 4rem;
        right: 0;
        background-color: #ebe9e9;
        color: #fd7e14;
        width: 200px;
        z-index: 999;
        padding: 10px 0px;
        
      }
    
      .nav-menu.active {
        display: block;
       
      }
  }
  