

.nav_container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  }
 .form_control {
    background-color: #009688;
    border-color: #009688;
    border-radius: 50px;
    color: #fff;
    height: 40px;
    padding: 10px 50px 10px 15px;
}
.form_control:focus{
    outline: none;
}
.search_btn{
    position: relative;
    right: 33px;
    top: 2px;
}
.search_btn_icon{
    color: white;
}
.nav_content{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.notification_icon{
    font-size: 33px;
    cursor: pointer;
    margin-right: 30px;
}
.nav_drop_container{
    display: flex;
    justify-content: end;
    
}
.nav_drop_content{
    display: none;
    transition: max-height 0.5s ease-in-out;
    max-height: 0;
    overflow: hidden;
    background-color: #009688;
    position: absolute; 
    z-index: 1000; 
    width: 200px;
    margin-top: 10px;
    border-radius: 10px;
    color: #fff;
}
.img_fluid{
    cursor: pointer;
    clip-path: polygon(45% 1.33975%, 46.5798% 0.60307%, 48.26352% 0.15192%, 50% 0%, 51.73648% 0.15192%, 53.4202% 0.60307%, 55% 1.33975%, 89.64102% 21.33975%, 91.06889% 22.33956%, 92.30146% 23.57212%, 93.30127% 25%, 94.03794% 26.5798%, 94.48909% 28.26352%, 94.64102% 30%, 94.64102% 70%, 94.48909% 71.73648%, 94.03794% 73.4202%, 93.30127% 75%, 92.30146% 76.42788%, 91.06889% 77.66044%, 89.64102% 78.66025%, 55% 98.66025%, 53.4202% 99.39693%, 51.73648% 99.84808%, 50% 100%, 48.26352% 99.84808%, 46.5798% 99.39693%, 45% 98.66025%, 10.35898% 78.66025%, 8.93111% 77.66044%, 7.69854% 76.42788%, 6.69873% 75%, 5.96206% 73.4202%, 5.51091% 71.73648%, 5.35898% 70%, 5.35898% 30%, 5.51091% 28.26352%, 5.96206% 26.5798%, 6.69873% 25%, 7.69854% 23.57212%, 8.93111% 22.33956%, 10.35898% 21.33975%);
}
.nav_content_active{
    display: block;
    max-height: 500px;
}
.nav_profile_link{
    padding: 10px 0;
    border-bottom: 1px solid white;
    transition: background-color 0.5s ease;
    
}
.nav_profile_link:hover{
    background-color: wheat;
    color: black;
}
 @media (max-width: 768px) {
    
    .form_control {
        width: 150px;
    }
}