.menu{
  background: #033f72 !important;
  display: flex;
  align-items: center;
}
.menu, .menubar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background: #212529;
    z-index:10;  
    overflow:hidden;
    /* box-shadow: 2px 0 18px rgba(0, 0, 0, 0.26); */
}
.menu li{
  display: block;
  text-indent: -500em;
  height: 5em;
  width: 5em;
  line-height: 5em;
  text-align:center;
  color: #72739f;
  position: relative;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
  cursor: pointer;
}
.menu li a:before {
  font-family: FontAwesome;
  text-indent: 0em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 1.4em;
}
.menu li:first-child{
    background-color: #009688;
}
.menu_icon{
    width: 100%;
    height: 50px;
    padding-top: 30px;
    color: white;
    
}
.menubar li:first-child{
    background-color: #009688;
}
.menubar li:not(:first-child) a {
    transition: transform 0.3s ease-in-out; /* Adjust the duration and timing function as needed */
  }
  
  .menubar li:not(:first-child) a:hover {
    transform: scale(1.3);
    color: #009688;
  }
.menubar{
    overflow:hidden;
    left:5em;
    z-index:5;
    width:0;
    height:0;
    transition: all 0.1s ease-in-out;
}
.menubar li a{
  display: block;
  height: 5em;
  width: 7em;
  line-height: 5em;
  text-align:center;
  color:white;
  text-decoration:none;  
  position: relative;
  font-family:verdana;
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  transition: background 0.1s ease-in-out;
}
.menubar li:first-child a{
    height:5em;
    color: #fff;      
}

.para{
    color:#033f72;
    padding-left:100px;
    font-size:3em;
    margin-bottom:20px;
}

.open{
    width:10em;
    height:100%;
}
.activeMenu {
    background-color:white;
  }