.section_title{
  font-weight: 600;
  line-height: 1.1;
  color: #5e5e5e;
  font-size: 35px;
  margin-bottom: 50px;
  display: inline-block;
}

.section_title h2{
  padding: 10px 0px;

  
}
@keyframes borderChange {
  0% {
      border-color: #FF5733; 
  }
  50% {
      border-color: #33FF57; 
  }
  100% {
      border-color: #FF5733; 
  }
}

.nav_tabs {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.nav_tabs li {
  cursor: pointer;
}

.nav_tabs li:not(:first-child) {
  margin-left: 30px;
}

.active {
  color: #fff !important;
  background: #fd7e14;
  border-radius: 5px;
  padding: 5px 7px;
}

.gimage {
  overflow: hidden;
  cursor: pointer;
}

.gimage .slider_image {
  transition: transform 0.5s ease;
  width: 100%;
  height: 100%;
}

.gimage:hover .slider_image {
  transform: scale(1.2);
}


.all_image_container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  padding-top: 20px;

}

.slider_image {
  width: 300px;
  height: 220px;
}

.lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.lightbox_content {
  position: relative;
  max-width: 80%;
  max-height: 80%;
}

.close_button {
  position: absolute;
  top: 1px;
  right: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}





@media (max-width: 768px) {

  .nav_tabs {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
  }

  .nav_tabs li:not(:first-child) {
    margin-top: 15px;
  }



  .slider_image {
    width: 100%;
    height: 100%;
  }
}