.nav_tabs {
    display: flex;
    align-items: center;
    justify-content: center;


}

.nav_tabs li {
    cursor: pointer;
}

.nav_tabs li:not(:first-child) {
    margin-left: 30px;
}

.active {
    color: #fff !important;
    background: #fd7e14;
    border-radius: 5px;
    padding: 5px 7px;
}

.favorit_room_container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}

.main{
    display: flex;
    justify-content: space-between;
    background-color: #ebebeb;
}
.room_thumb .main {
    border-bottom: 1px solid #ebebeb;
    border-right: 1px solid #ebebeb;
    border-left: 1px solid #ebebeb;
    height: 55px;
}
.room_thumb .main h5 {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    padding: 10px 0 0 20px;
    color: #5e5e5e;
}

.room_thumb .main .price{
    background-color: rgba(90, 186, 198, 0.05);
    border-left: 1px solid rgba(12, 12, 12, 0.05);
    padding: 0 10px;
    font-size: 18px;
    font-weight: bold;
    color: #75c5cf;

}
.room_thumb .main .price span{
    color: #494949;
    font-size: 11px;
    font-weight: normal;
    text-align: center;
}

.room_thumb {
    position: relative; 
    overflow: hidden; 
}
.hoverMask {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0; 
    background-color: rgba(0, 0, 0, 0.7);
    color: white;
    padding: 0px;
    box-sizing: border-box;
    transition: height 0.4s ease-in-out;

}
.content p{
    padding: 20px;
    font-size: 16px;
    
}

.content span{
    color: #75c5cf !important;
    margin-right: 8px;
    font-size: 16px;
    font-weight: bold;
}


.room_thumb:hover .hoverMask {
    height: 100%;
}

.gphoto{
    width: 100%;
}



.btn_block {
    position: relative;
    color: #fff;
    background-color:#0072DD;
    display: inline-block;
    margin-top: 20px;
    font-size: 18px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    border-radius: 4px;
    width: 100%;
    padding: 6px 10px;
    cursor: pointer;
    z-index: 1;
}

.btn_block:before {
    content: "";
    position: absolute;
    z-index: -1;
    clip-path: circle(0% at 50% 50%);
    background: rgba(36, 36, 36, 0.3);
    transition: clip-path 0.4s ease-out;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border-radius: 4px;
}

.btn_block:hover:before {
    clip-path: circle(100% at 50% 50%);
    border-radius: 4px;
}




@media (max-width: 768px) {
    .favorit_room_container{
        display: grid;
        grid-template-columns: repeat(1,1fr);
       
    }
    .room_thumb {
        position: static; 
        
    }
    .hoverMask {
        position: static;
    }
    .room_thumb .hoverMask {
        height: auto; /* or any other value you want for small devices */
    }
    .btn_block{
        margin-bottom: 20px;
    }
  
}