.froom_title{
  font-weight: 600;
  line-height: 1.1;
  color: #5e5e5e;
  font-size: 35px;
  margin-bottom: 50px;
  display: inline-block;
  
}
.froom_title h2{
  padding: 10px 20px;
  border-bottom: 4px solid #fd7e14;
  border-radius: 15px;
}



  .ups_container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 20px;
  }
  

  .icon_bg{
    border: 1px solid #75c5cf;
    border-radius: 70px;
    padding: 20px;
    display: inline-block;
  }
  .icon_bg:hover{
    background-color: #75c5cf;
  }
  .beverages{
    text-align: center;
    padding: 15px 10px;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    border-radius: 10px;
    transition: background-color 0.8s ease-in-out;
    box-sizing: border-box;
  }
  .beverages h2{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    line-height: 1.1;
    color: #5e5e5e;
  }
 .beverages h4{
    color: #1ebed3;
    cursor: pointer;
 }
 .beverages h4:hover{
    color: #5e5e5e;
 }
 .beverages:hover{
    background-color: rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    
 }
.popup_img{
  
}
 @media (max-width: 768px) {
  .ups_container{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 20px;
    width:100%;
    
  }
 }